# Copy this file to: android/keystore.properties
# DO NOT commit android/keystore.properties

# Path is relative to the android/ folder
storeFile=upload-keystore.jks

# Fill these with your upload keystore credentials
storePassword=********
keyAlias=upload
keyPassword=********
